@import "reset";
@import "variables";
@import "fonts";

@import "layouts/main-block";

body{
  background: $background;
}

canvas{
  position: fixed;
  left: 0;
  top: 0;
}

.wrap{
  position: relative;
  z-index: 101;
}
